.grid-container{
    display: grid;
    column-gap: 30px;
    grid-template-columns: auto auto auto;
}
.body{
    border: 1px black solid;
    height: 600px;
    margin-top: 5px;
}

.grid-item{
    display: inline-block;
    margin-top: 10px;
    
}

.score{
    text-align: center;
}

.score p{
    font-size: 5vw;
}
